:root{
    --bg-white:rgba(57, 57, 57, .9);
    --fb-20:0;
    --bsw:0 0 0.5rem rgba(27, 27, 27, 0.09);
    --bsw-1:0 0 0.5rem rgb(30 34 40 / 14%);
    --bg-a:#242424;
    --hd-a:rgba(58, 58, 58, 0.99);
    --gb-c:#474747;
    --bb-l:#343434;
    --btn-c:#ffffffa9;
    --green:#00ff78;
    --green-tsp:#00ff77b5;
    --green-tsp-2:#74ce0dd2;
    --green-tsp-3:#0095f917;
    --grey:#b0b0b0;
    --grey-li:#ededed;
    --grey-tsp:#a1a1a14d;
    --grey-tsp-2:#2222224d;
    --grey-tsp-3:#414141a6;
    --red:#ed5642;
    --purpure:#a68eff;
    --purpure-tsp:#a68eff;
    --purpure-tsp-a:#a68eff;
    --purpure-tsp-b:#4ea534a2;
    --purpure-tsp-c:#ff8ee7;
    --blue:#00aeff;
    --blue-wh:#8eb9ff;
    --blue-wh-tsp:#00aeff;
    --blue-wh-tsp-a:#00aeff;
    --blue-wh-tsp-b:#1bb400ed;
    --blue-wh-tsp-c:#ea7272;
    --blue-wh-tsp-1:#32a9e977;
    --blue-wh-tsp-2:#3aaffd;
    --blue-wh-1:#83adf1;
    --blue-wh-2:#25aae1;
    --blue-wh-3:#0597da;
    --blue-wh-4:#034d66;
    --white:#333333;
    --white-all:#ffffff;
    --white-1:#3838389d;
    --white-grey:#8b8989;
    --white-tsp:rgba(255, 255, 255, 0.1);
    --grey-light:#f2f7f915;
    --black:#e8e8e8;
    --black-all:#080808;
    --black-blue:#0096f9;
    --black-blue-light:#f6f6f6;
    --black-blue-light-2:#d3d3d3;
    --black-light:#424455;
    --exros:#b9aaa6;
    --exros-2:#242424bf;
    --exros-3:#3e3e3e63;
    --exros-4:#76767669;
    --col-1:#50baff;
    --col-2:#8eb9ff;
    --vem:#c4cae7;
}