:root{
    --bg-white:rgba(254, 254, 254, .9);
    /* --fb-20:blur(20px) brightness(110%); */
    --bsw:0 16px 40px rgb(73 92 136 / 15%);
    --bsw-1:0 0 0.5rem rgb(30 34 40 / 14%);
    --bg-a:#fefefe;
    --hd-a:rgb(247 246 246 / 99%);
    --gb-c:#f6f6f6;
    --bb-l:#f0f0f0;
    --btn-c:#ffffff;
    --green:#ff1e00;
    --green-tsp:#e33a14aa;
    --green-tsp-2:#ce540d6b;
    --green-tsp-3:#98014217;
    --grey:#3f3f3f;
    --grey-li:#333333;
    --grey-tsp:#a1a1a14d;
    --grey-tsp-2:#2222224d;
    --grey-tsp-3:#414141a6;
    --red:#ed5642;
    --purpure:#dd8eff;
    --purpure-tsp:#ff8ee7;
    --purpure-tsp-a:#a68eff;
    --purpure-tsp-b:#4ea534a2;
    --purpure-tsp-c:#ff8ee7;
    --blue:#fb6969;
    --blue-wh:#ff8e96;
    --blue-wh-tsp:#ea7272;
    --blue-wh-tsp-a:#00aeff;
    --blue-wh-tsp-b:#1bb400ed;
    --blue-wh-tsp-c:#ea7272;
    --blue-wh-tsp-1:#e9326f77;
    --blue-wh-tsp-2:#ff5f5f;
    --blue-wh-1:#e45858;
    --blue-wh-2:#db3d4a;
    --blue-wh-3:#ff7676;
    --blue-wh-4:#ffffff;
    --white:#ffffff;
    --white-all:#ffffff;
    --white-1:#ededed;
    --white-grey:#8b8989;
    --white-tsp:rgba(255, 255, 255, 0.1);
    --grey-light:#f2f7f9;
    --black:#080808;
    --black-all:#080808;
    --black-blue:#f51717d0;
    --black-blue-light:#353746;
    --black-blue-light-2:#404255;
    --black-light:#424455;
    --exros:#f1877d63;
    --exros-2:#ffffff92;
    --exros-3:#f1877d63;
    --exros-4:#dfdfdf92;
    --col-1:#ff4141;
    --col-2:#ff5b5b;
    --vem:#fff;
}