:root{
    --bg-white:rgba(254, 254, 254, .9);
    /* --fb-20:blur(20px) brightness(110%); */
    --bsw:0 16px 40px rgb(73 92 136 / 15%);
    --bsw-1:0 0 0.5rem rgb(30 34 40 / 14%);
    --bg-a:#fefefe;
    --hd-a:rgb(247 246 246 / 99%);
    --gb-c:#f6f6f6;
    --bb-l:#f0f0f0;
    --btn-c:#ffffff;
    --green:#00ff78;
    --green-tsp:#00ff77aa;
    --green-tsp-2:#75ce0d6b;
    --green-tsp-3:#01984817;
    --grey:#3f3f3f;
    --grey-li:#333333;
    --grey-tsp:#a1a1a14d;
    --grey-tsp-2:#2222224d;
    --grey-tsp-3:#414141a6;
    --red:#ed5642;
    --purpure:#1ec700;
    --purpure-tsp:#4ea534a2;
    --purpure-tsp-a:#a68eff;
    --purpure-tsp-b:#4ea534a2;
    --purpure-tsp-c:#ff8ee7;
    --blue:#4baa0c;
    --blue-wh:#309639;
    --blue-wh-tsp:#1bb400ed;
    --blue-wh-tsp-a:#00aeff;
    --blue-wh-tsp-b:#1bb400ed;
    --blue-wh-tsp-c:#ea7272;
    --blue-wh-tsp-1:#32e93877;
    --blue-wh-tsp-2:#0b97019d;
    --blue-wh-1:#319e57;
    --blue-wh-2:#31b126;
    --blue-wh-3:#00a00d;
    --blue-wh-4:#ffffffc4;
    --white:#ffffff;
    --white-all:#ffffff;
    --white-1:#ededed;
    --white-grey:#8b8989;
    --white-tsp:rgba(255, 255, 255, 0.1);
    --grey-light:#f2f7f9;
    --black:#080808;
    --black-all:#080808;
    --black-blue:#0c7330;
    --black-blue-light:#353746;
    --black-blue-light-2:#404255;
    --black-light:#424455;
    --exros:#f1877d63;
    --exros-2:#ffffff92;
    --exros-3:#f1877d63;
    --exros-4:#dfdfdf92;
    --col-1:#2c9002;
    --col-2:#11ae39c8;
    --vem:#fff;
}